



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="position-absolute w-100 ms-5 ps-5 text-wrap px-5 pad">
          <h1 class="text-wrap mt-5">&nbsp;&nbsp;&nbsp; Subscribe To Vienna Advantage
            <br>
                <h5 style="font-size: 19px; color: gray;" class="pt-2 ps-5">Document Management System and Much More</h5>
          </h1>
        </div>
        <img src="../assets/contact-image1.jpg" class=" d-block w-100" alt="..." height="450" width="500">
      </div>
      <div class="carousel-item">
            <div class="position-absolute w-100 px-5 pad">
              <h1 class="text-wrap mt-5 ms-5 ps-5">BRS Infotech Is Partner Of Vienna <br>
                Advantage ERP + CRM
                <br>
                <h5 style="font-size: 19px; color: gray;" class="pt-2">Document Management System and Much More</h5>
              </h1>
            </div>
        
        <img src="../assets/slide2.jpg" class=" d-block w-100" alt="..." height="450" width="100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-left--v2.png"/></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-right--v2.png"/></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div >
    <div class="text-center text-primary px-5 py-5 pe-5  ">
      <h2 style="color:rgb(13, 27, 66);">We’d Love To Hear From You</h2>
      <div style="background-color: rgb(13, 27, 66);">
        <hr size="6">
      </div>
      <h6 class="text-dark">Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your <br>
        questions</h6>
    </div>
  </div>

<div class="container mb-5 py-5 px-5"n style="background-color: rgb(13, 27, 66);">
  <form class="row g-3">
    <div class="col-md-6">
      <input type="text" placeholder="First Name" class="form-control" >
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control " placeholder="Last Name">
    </div>
    <div class="col-md-6">
      <input type="email" class="form-control "  placeholder="Email">
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <select class="form-select ">
          <option selected>Choose Country</option>
          <option value="India">India</option>
          <option value="Africa">Africa</option>
          <option value="Germany">Germany</option>
          <option value="Afganistan">Afganistan</option>
          <option value="Rome">Rome</option>
          <option value="Itely">Itely</option>
        </select>
        <input class="form-control w-25" placeholder="Enter Mobile Number">
      </div>
          </div>
    <div class="col-md-6">
      <input type="text" class="form-control"  placeholder="Subject">
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control "  placeholder="Company Name">
    </div>
    <div class="col-md-12">
      <textarea rows="5" cols="139" class="form-control py-3" placeholder="Message" ></textarea>
    </div>
    <div class="col-3 bg-light">
      <p style="font-size: 10px; color: red;">This  CAPCHA is for testing purpose only.Please report to the site admin if you are seeing this.</p>
      <div class="form-check">
        <input class="form-check-input mt-3" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          I'm not a robot
          <img src="../../assets/CAPCHA.png" class="ps-3" alt="" srcset="">
        </label>
      </div>
    </div>
    <div class="col-md-12">
      <button type="button" class="btn btn-light px-4 py-3">Submit</button>
    </div>
  </form>
</div>  