<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="position-absolute ms-5 ps-5 w-100 text-wrap px-5 pad">
          <h1 class="text-wrap mt-5">&nbsp;&nbsp;&nbsp; Subscribe To Vienna Advantage
            <br>
                <h5 style="font-size: 19px; color: gray;" class="pt-2">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Document Management System and Much More</h5>
          </h1>
        </div>
        <img src="../assets/about-image1.jpg" class=" d-block w-100" alt="..." height="450" width="500">
      </div>
      <div class="carousel-item">
            <div class="position-absolute ms-5 ps-5 w-100 px-5 pad">
              <h1 class="text-wrap mt-5">&nbsp;&nbsp;&nbsp;BRS Infotech Is Partner Of Vienna <br>
                &nbsp;&nbsp; Advantage ERP + CRM
                <br>
                <h5 style="font-size: 19px; color: gray;" class="pt-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Document Management System and Much More</h5>
              </h1> 
            </div>
        
        <img src="../assets/slide2.jpg" class=" d-block w-100" alt="..." height="450" width="100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-left--v2.png"/></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-right--v2.png"/></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div >
    <div style="background-color:rgb(13, 17, 66)">
    <div class="text-center text-light py-5">
    <h1 >About US</h1>
    </div>
    <div class="d-flex pb-5 flex-wrap justify-content-evenly align-items-center" >
    <div class="mb-5 ">
    <img src="../../assets/about-image1.png" alt="" height="300" width="450" srcset="">
    </div>
    <div class="text-light pb-5">
    <h5>We provide implementation, customization, training and support <br>
    services for BRS INFOTEK, a world class Enterprise Resource <br>
    Planning application suitable for medium to large scale enterprises. <br>
    Our business is aimed at helping you adopt and use ADempiere to <br>
    power your industry with low cost. We make things work - for</h5>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="container px-5">
    <div class="d-flex pb-5 flex-wrap justify-content-between">
    <div class="pt-5">
    <h2>Security</h2>
    <h5>Keep data safe & regulated with built-in protections. </h5>
    </div>
    <div class="mt-5">
    <img src="../../assets/about-image2.png" alt="" height="300" width="300" srcset="">
    </div>
    </div>
    
    <div class="d-flex pb-5 flex-wrap-reverse justify-content-between">
    <div >
    <img src="../../assets/about-image3.png" height="250" width="320" alt="" srcset="">
    </div>
    <div class=" pt-5 pe-5">
    <h2>Collaboration</h2>
    <h5>Centrallised data will bolster interdepartmental <br>
    collaboration</h5>
    </div>
    </div>
    
    
    <div class="d-flex pb-5 flex-wrap justify-content-between">
    <div class=" pt-5 ">
    <h2>Customer Service</h2>
    <h5>Faster and more accurate access to customers <br>
    information and history.</h5>
    </div>
    <div class="pt-5" >
    <img src="../../assets/about-image4.png" height="300" width="320" alt="" srcset="">
    </div>
    </div>
    
    <div class="d-flex pb-5 flex-wrap-reverse justify-content-between">
    <div >
    <img src="../../assets/about-image5.png" height="250" width="320" alt="" srcset="">
    </div>
    <div class=" pt-5 pe-5">
    <h2>Productivity</h2>
    <h5>Eliminate redundant processes and tasks through<br>
    automation.</h5>
    </div>
    </div>
    
    <div class="d-flex pb-5 flex-wrap justify-content-between">
    <div class=" pt-5 ">
    <h2>Efficiency</h2>
    <h5>Automate all business operations cross- <br>
    departmentally.</h5>
    </div>
    <div class="pt-5" >
    <img src="../../assets/about-image6.png" height="300" width="320" alt="" srcset="">
    </div>
    </div>
    </div>