<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="position-absolute w-100 text-wrap px-5 pad">
          <h1 class="text-wrap mt-5 ps-5 ms-5">
              <h4 class="fw-bold fs-2 text-light"><span class="fs-2 text-danger fw-bold">BRS Infotek </span>Implementation process is <br>
                 to Listen, Connect, Document & <br>
                  Execute!!</h4>
                <p style="font-size: 19px; color: gray;"></p>
          </h1>
        </div>
        <img src="../assets/process-image9.jpg" class=" d-block w-100" alt="..." height="450" width="500">
      </div>
      <div class="carousel-item">
            <div class="position-absolute w-100 px-5 pad">
              <h1 class="text-wrap mt-5 ps-5 ms-5">BRS Infotech Is Partner Of Vienna <br>
                Advantage ERP + CRM
                <br>
                <h5 style="font-size: 19px; color: gray;" class="pt-2">Document Management System and Much More</h5>
              </h1>
            </div>
        
        <img src="../assets/slide2.jpg" class=" d-block w-100" alt="..." height="450" width="100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-left--v2.png"/></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-right--v2.png"/></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<div class="font2" style="background-color: rgb(242, 246, 249);">
    <div class="d-flex flex-wrap justify-content-evenly mb-5 ">
        <div class="pt-5 animate__animated animate__bounceInLeft">
            <h2>1.Exploration</h2>
            <p class="fs-5">When you first contact us, we gather information about your company and the reasons you <br> are looking for an ERP system. By understanding your needs, we may be able to <br> determine if Vienna Advantage is a potential solution and you can decide if you would like <br> to explore the possibilities further.</p>
        </div>
        <div class="animate__animated animate__bounceInRight">
            <img src="../../../assets/process-image1.png" alt="" srcset="">

        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly my-5">
        <div class="animate__animated animate__bounceInLeft">
            <img src="../../../assets/process-image2.png" alt="" srcset="" height="300" width="300">

        </div>
        <div class="animate__animated animate__bounceInRight">
            <h2>2.Basic Demonstration</h2>
            <p class="fs-5">If we determine that Vienna Advantage has potential,  a short demonstration of the basic <br> system can be  provided to highlight the relevant functionality. This is an opportunity for us <br> to familiarize you with the software and for you to identify more specific questions about <br> the functionality.</p>
        </div>
        
    </div>
    <div class="d-flex flex-wrap justify-content-evenly my-5">
        <div class="animate__animated animate__bounceInLeft">
            <h2>3. Proof-of-Concept Demonstration:</h2>
            <p class="fs-5">
                An example of a risk-reduction stage, a proof-of-concept demonstration can be arranged <br>
                 under contract. Typically, customers will have specific needs that can't be easily met and <br>
                  or demonstrated with the basic application. We will work with you to determine the critical <br>
                   items that need to be demonstrated before you proceed further with implementation. <br>
                    These features will undergo rapid prototyping to provide a unique demonstration for your <br>
                     company. Depending on the complexity of what is desired, this can take from 1 week to 2 <br>
                      months to prepare. The costs can vary from a few hundred dollars to several thousand <br>
                       and may include the provision of a hosted platform dedicated to this demonstration. The <br>
                        goal is of this effort is to give you the confidence to proceed with the implementation. At <br>
                         this point, it is important to get the buy-in of the Offices of Principal Interest (OPS's) and <br>
                          the authority (typically the CEO) to proceed.
            </p>
        </div>
        <div class="pt-5 animate__animated animate__bounceInRight">
            <img src="../../../assets/process-image3.png" alt="" srcset="" height="300" width="350">
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly my-5">
        <div class="animate__animated animate__bounceInLeft">
            <img src="../../../assets/process-image4.png" alt="" srcset="" height="300" width="300">

        </div>
        <div class="animate__animated animate__bounceInRight">
            <h2>4. Proposal:</h2>
            <p class="fs-5">
                We will work with you to generate a non-binding proposal for the expected work and the <br>
                elements of this process that will be included. This proposal will outline the scope of work, <br>
                the steps in the process that will be followed, and the areas of responsibility for both <br>
                companies. It will also identify the risk reduction stages where we both agree on <br>
                continuing with the implementation.
            </p>
        </div>
        
    </div>
    <div class="d-flex flex-wrap justify-content-evenly py-5">
        <div class="animate__animated animate__bounceInLeft">
            <h2>5. Planning Readiness Review:</h2>
            <p class="fs-5">
                This review is a risk-reduction step involving a review of the proposal and planning <br>
                contract that will be taken on next. At this point, you should have a good idea of the <br>
                impacts of the implementation of your company and the benefits that will be achieved. <br>
                Following the review, you can decide to proceed with the next stage.
            </p>
        </div>
        <div class="pb-5 animate__animated animate__bounceInRight">
            <img src="../../../assets/process-image5.png" alt="" srcset="" height="300" width="350">

        </div>
    </div>
</div>
<!--  -->

<div style="background-color:rgb(13, 27, 66);" class="border-danger" >
    <div class="d-flex flex-wrap py-5 justify-content-evenly">
        <div class="pb-5 d-center border border-danger bg-light">
            <img class="m-5" src="../../../assets/process-image7.png" alt="" srcset="" height="400" width="450">
        </div>
        <div class="text-light font1">
            <h3>1.Planning Contract</h3>
            <li> The Planning Contract covers the work required to plan out the implementation in <br> detail.</li>
            <br>
            <li>Exploratory investigations allow us to map out your current processes, define new <br>
                desired processes, and match these with what Vienna Advantage can provide out of the <br>
                box. With this information, it is possible to create a Gap Analysis which will highlight the <br>
                amount of custom development required in the project.</li> <br>
            <li> Team building: BRS Infotek will put together a team of people who can deliver the <br>
                necessary customizations and training. Depending on the amount of involvement from <br>
                your company, the team may be entirely made up of your staff with only assistance and <br>
                training provided by BRS Infotek. On the other hand, BRS Infotek can provide the bulk <br>
                of the team with limited involvement from your staff</li> <br>
            <li>Change management activities begin to engage the key staff in your organization <br>
                and educate them on the possibilities of what can be achieved. If you are providing IT <br>
                staff and software development teams to assist with the implementation, they will also <br>
                be trained during this period.</li>
                           <br>
            <li>Cost-benefit analysis: As the planning progresses and the costs identified, we will <br>
                negotiate with you on the custom elements, hardware requirements, schedules, final <br>
                requirements, and test plans to ensure these meet with your budget</li>
            <li>Implementation Planning: A detailed plan for the implementation of the project is <br>
                developed</li>
                <br>
            <h3>2. Implementation Readiness Review</h3>    
            <li>This is a critical review of the implementation plans and the preparation that has <br>
                been made.</li>
                <br>
        </div>
    </div>
</div>



<!--  -->
<div class="" style="background-color: rgb(242, 246, 249)">
    <div class="d-flex flex-wrap justify-content-around">
        <div class="ps-5">
            <h3 class="fw-bold pt-5">IMPLEMENTATION</h3>
            <h5 class="fw-bold">1.Implementation Contract:</h5>
            <p style="font-size: 18px;">The Implementation Contract kicks off the main work of implementation. The work in <br>
                this stage can be done in parallel by a team including BRS Infotek and your own staff. <br>
                A summary of this activity would cover:</p>
            <ul style="font-size: 18px;">
                <li> Creation of the development and test platforms.</li>
                <li>Gathering your data, converting it to the required formats and importing it in Vienna <br> Advantage.</li>
                <li> Configuring your system and adding custom tables, columns, windows and fields.</li>
                <li>Establish the opening balance and starting point for the operational data .</li>
                <li>Begin software development cycles for custom elements and integration with other <br> systems as required.</li>
                <li>Establish the production infrastructure.</li>
                <li>Develop unit and system tests for the custom elements.</li>
                <li>Building a change management team which will drive the change in your organization to the <br> new system.</li>
            </ul>      
        </div>
        <div class="mt-5">
            <img src="../../../assets/process-image6.png" height="500" width="400" alt="" srcset="">

        </div>
    </div>
    <div class="px-5 pb-5 font3">
        <h4><b>2. Change Management:</b></h4>
        <p>With a change team in place, change management activities would concentrate on building support for the new system and reducing resistance to its <br>
             introduction. This is done through communications informing staff and anyone affected by the new system about the progress of the implementation, why <br>
              things are changing,how the new system will help the company, and how the new system will change individual jobs.</p>
        <h4><b>3. End-User Testing:</b></h4>
        <p>Testing of the end-to-end processes and workflows used in the daily operation of the system.</p>    
        <h4><b>4. Management Testing:</b></h4>
        <p>Verifying the accuracy and efficacy of management reports.</p>
        <h4><b>5. Administrative Testing:</b></h4>
        <p>Testing of the back-office and system administration tasks such as backup and disaster recovery,database maintenance, and general housekeeping.</p>    
        <h4><b>6. Final synchronization of data:</b></h4>
        <p>In preparation for full operations and the go-live process, the data in the system will be updated to a specific date as required to make the go-live process seamless.</p>
        <h4><b>7. Go-Live Readiness Review:</b></h4>
        <p>This review ensures everyone is comfortable with the state of the system prior to the go-live process. all outstanding issues are reviewed and accepted as known-issues or returned for resolution. go-live plans are adjusted and the authority for the system decides to proceed</p>
    </div>
</div>
<div style="background-color:rgb(6, 6, 36);" class="mb-3">
    <div class="px-5 text-light pt-3 live">
        <h4>GO LIVE</h4>
        <li>The go-live process is an exciting time for the implementation and for the organization. the process may involve a rather intense period of duplicated processes where both the current system and the new system are operated in parallel. but generally, there is a complete switch to the new system.</li>
        <br>
        <li> For the first few days, there is a need for active assistance and support to the end-users to address any issues found and provide additional training.</li>
        <br>
        <h4>FOLLOW UP & LESSONS LEARNED</h4>
            <li>After the system has been in use for six months or more, a follow-up session is held to review the implementation process with a focus on learning and continuous improvement. the lessons learned will be used to strengthen processes that worked well during the implementation and to adjust others to improve the outcomes.the lessons learned also looks at the effectiveness of the vienna advantage erp system in addressing the needsof your company.</li>
            <br>
        <h4>LONG TERM SUPPORT</h4>
        <li>BRS Infotek can provide long-term support to your organization, assisting users with issues in their day-to-day operations, providing recurring training on the system and maintaining the database and software.</li>
        <br>
        <li> Migrations to new software versions are recommended as each version is published. the migrations only require effort - there is no software associated but only the cost of time spend by the consultants with this service.</li>
        <br>
    </div>
</div>