
  <!--  -->
  
  
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="position-absolute ps-5 ms-5 w-100 text-wrap px-5 pad">
            <h1 class="text-wrap mt-5">&nbsp; &nbsp;BRS Infotech Is Partner Of Vienna <br>
              &nbsp; &nbsp;Advantage ERP + CRM
              <br>
                  <h5 style="font-size: 19px; color: gray;" class="pt-2 ">&nbsp; &nbsp;&nbsp; &nbsp; Document Management System and Much More</h5>
            </h1>
          </div>
          <img src="../assets/slider1.jpg" class=" d-block w-100" alt="..." height="450" width="500">
        </div>
        <div class="carousel-item">
              <div class="position-absolute w-100 ms-5 ps-5 px-5 pad">
                <h1 class="text-wrap mt-5">&nbsp; &nbsp;BRS Infotech Is Partner Of Vienna <br>
                  &nbsp; &nbsp;Advantage ERP + CRM
                  <br>
                  <h5 style="font-size: 19px; color: gray;" class="pt-2">&nbsp; &nbsp;&nbsp; &nbsp;Document Management System and Much More</h5>
                </h1>
              </div>
          
          <img src="../assets/slide2.jpg" class=" d-block w-100" alt="..." height="450" width="100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-left--v2.png"/></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-right--v2.png"/></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
  <!--  -->
  
  
  <div class="" style="background-color:rgb(13, 27, 66);">
    <div>
      <h3 class="text-center text-wrap pt-5 text-light"><span class="border-bottom pb-2"> OUR </span>Solutions</h3>
    </div>
    <div class="d-flex flex-wrap container justify-content-between text-light py-3 my-5">
        <div class=" text-center ps-3 hvr-wobble-vertical">
          <img class=" rounded-circle img-thumbnail " src="../assets/simage1.png" alt=""  width="130" height="130" srcset="">
          <h5 class="pt-3">Multi <br> Company</h5>
        </div>
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage2.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">Purchase</h5>
      </div>
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage3.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">Inventory</h5>
      </div>
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage4.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">Warehouse</h5>
      </div>
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage5.png" width="130" height="130"  alt="" srcset="">
        <h5 class="pt-3">MRP</h5>
      </div>
      <div class="text-center hvr-wobble-vertical  pe-3">
        <img class="rounded-circle img-thumbnail" src="../assets/simage6.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">Production</h5>
      </div>
  
    </div>
    <div class="d-flex flex-wrap container text-light justify-content-evenly pb-5 imageback">
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage7.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">CRM</h5>
      </div>
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage8.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">Sales</h5>
      </div>
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage9.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">HR And <br> Payroll</h5>
      </div>
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage10.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">DMS</h5>
      </div>
      <div class="text-center hvr-wobble-vertical">
        <img class="rounded-circle img-thumbnail" src="../assets/simage11.png" width="130" height="130" alt="" srcset="">
        <h5 class="pt-3">Finance</h5>
      </div>
    </div>
  </div>
  
  
  <!-- section 1 new  -->
  <div class="d-flex flex-wrap justify-content-around pt-5">
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInLeft">
      <div class="px-5 pt-3 mx-5 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage1.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Multi Company/Tenant</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Multi Tenant</li>
          <li>- Multi Organization</li>
          <li>- Multi Cost Center</li>
          <li>- Multi Profit Center</li>
        </ul>
      </div>
    </div>
    <div class="animate__animated animate__bounceInRight">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image1.png" alt="" srcset="">
    </div>
  </div>
  <!-- section 2 new -->
  <div class="d-flex flex-wrap-reverse justify-content-around pt-5">
    <div class="animate__animated animate__bounceInLeft">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image2.png" alt="" srcset="">
    </div>
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInRight">
      <div class="px-5 pt-3 mx-5 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage2.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Procurement Management</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- RFQ</li>
          <li>- Requisition</li>
          <li>- Purchase Order</li>
          <li>- Blanket Purchase</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- section 3 new -->
  <div class="d-flex flex-wrap justify-content-around pt-5">
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInLeft">
      <div class="px-5 pt-3 mx-5 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage3.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Inventory Management</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Good Receipt Note</li>
          <li>- Customer Shipment</li>
          <li>- Physicak Inventory</li>
          <li>- Inventory Movement</li>
        </ul>
      </div>
    </div>
    <div class="animate__animated animate__bounceInRight">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image3.png" alt="" srcset="">
    </div>
  </div>
  <!-- section 4 -->
  <div class="d-flex flex-wrap-reverse justify-content-around pt-5">
    <div class="animate__animated animate__bounceInLeft">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image4.png" alt="" srcset="">
    </div>
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInRight">
      <div class="px-5 pt-3 mx-2 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage4.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Warehouse Management System</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Warehouse and Locators</li>
          <li>- Replenishment</li>
          <li>- Put a way List</li>
          <li>- Pick List</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- section 5 new -->
  <div class="d-flex flex-wrap justify-content-around pt-5">
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInLeft">
      <div class="px-5 pt-3 mx-3 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage5.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Material Requirement Planning</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Plan</li>
          <li>- Forecast</li>
          <li>- Master Demand</li>
          <li>- Implement Plan</li>
        </ul>
      </div>
    </div>
    <div class="animate__animated animate__bounceInRight">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image5.png" alt="" srcset="">
    </div>
  </div>
  
  <!-- section 6 new -->
  <div class="d-flex flex-wrap-reverse justify-content-around  pt-5">
    <div class="animate__animated animate__bounceInLeft">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image6.png" alt="" srcset="">
    </div>
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInRight">
      <div class="px-5 pt-3 mx-4 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage6.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Production Management</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Operations</li>
          <li>- Routing</li>
          <li>- Production Order</li>
          <li>- Production Execution</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- section 7 new-->
  <div class="d-flex flex-wrap justify-content-around pt-5">
    <div class="border border-2 border-danger p-2 animate__animated animate__bounceInLeft">
      <div class="px-5 pt-3 mx-3 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage7.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Customer Relationship Management</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Lead/Enquiry</li>
          <li>- Opportunity</li>
          <li>- Sales Quotation</li>
          <li>- Sales Order</li>
        </ul>
      </div>
    </div>
    <div class="animate__animated animate__bounceInRight">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image7.png" alt="" srcset="">
    </div>
  </div>
  <!-- section 8 new -->
  <div class="d-flex flex-wrap-reverse justify-content-around pt-5">
    <div class="animate__animated animate__bounceInLeft">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image8.png" alt="" srcset="">
    </div>
    <div class="border border-2 border-danger p-4 animate__animated animate__bounceInRight">
      <div class="px-5 pt-3 mx-5 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage8.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Sales Management</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Sales Quotation</li>
          <li>- Sales Order</li>
          <li>- Blanket Sales Order</li>
          <li>- Sales Contracts</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- section 9 new -->
  <div class="d-flex flex-wrap justify-content-around  pt-5">
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInLeft">
      <div class="px-5 pt-3 mx-5 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage9.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">HR & Payroll Management</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Employees</li>
          <li>- Compensation</li>
          <li>- Leaves</li>
          <li>- Salary</li>
        </ul>
      </div>
    </div>
    <div class="animate__animated animate__bounceInRight">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image9.png" alt="" srcset="">
    </div>
  </div>
  <!-- section 10 new -->
  <div class="d-flex flex-wrap-reverse justify-content-around pt-5">
    <div class="animate__animated animate__bounceInLeft">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image10.png" alt="" srcset="">
    </div>
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInRight">
      <div class="px-5 pt-3 mx-2 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage10.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Document Management System</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Powerful Search Engine</li>
          <li>- Indexing and OCR</li>
          <li>- Version Control</li>
          <li>- Custom Forms</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- section 11 new -->
  <div class="d-flex flex-wrap justify-content-around py-5">
    <div class="border border-2 border-danger p-3 animate__animated animate__bounceInLeft">
      <div class="px-5 pt-3 mx-5 text-center">
        <img class="border rounded-circle border-dark" src="../assets/simage11.png" alt="" width="100" height="100" srcset="">
        <p class="text-wrap h5 fs-bold">Finance Management</p>
      </div>
      <div class="py-3">
        <ul class=" text-wrap">
          <li>- Accounts Localization</li>
          <li>- Chart of Accounts</li>
          <li>- Accounting Books</li>
          <li>- Financial Reports</li>
        </ul>
      </div>
    </div>
    <div class="animate__animated animate__bounceInRight">
      <img class="mx-5 img-thumbnail border-0" src="../assets/image11.png" alt="" srcset="">
    </div>
  </div>
  <!-- section end -->
  
  
  
  
<router-outlet></router-outlet>