<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="position-absolute w-100 text-wrap px-5 ms-5 ps-5 pad">
          <h1 class="text-wrap mt-5">
              <h4 class="fw-bold pt-5"><span class="fs-1 text-danger fw-bold">&nbsp;&nbsp; Vienna Advantage </span>ERP + CRM</h4>
                <p style="font-size: 19px; color: gray;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Everything you need for your business, neatly <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;packed into one powerful software.</p>
          </h1>
        </div>
        <img src="../assets/service-img1.jpg" class=" d-block w-100" alt="..." height="450" width="500">
      </div>
      <div class="carousel-item">
            <div class="position-absolute w-100 px-5 ms-5 ps-5 pad">
              <h1 class="text-wrap mt-5">&nbsp;&nbsp;&nbsp;&nbsp;BRS Infotech Is Partner Of Vienna <br>
                &nbsp;&nbsp;&nbsp; Advantage ERP + CRM
                <br>
                <h5 style="font-size: 19px; color: gray;" class="pt-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Document Management System and Much More</h5>
              </h1>
            </div>
        
        <img src="../assets/slide2.jpg" class=" d-block w-100" alt="..." height="450" width="100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-left--v2.png"/></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="" aria-hidden="true"><img src="https://img.icons8.com/color/48/000000/double-right--v2.png"/></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="container">
    <div class="py-5 div1 ">
        <h5 class=" lh-base">
            <span class="fw-bold text-danger"> VIENNA ADVANTAGE </span> an open-source Enterprise Resource Planning application that provides a full suite of tools <br> necessary 
            for medium and large companies. It is differentiated from other ERP systems in that it is fully customizable to your business.
        </h5>
    </div>
</div>
<div>
    <div  style="background-color:rgb(6, 6, 36);">
        <div class="py-5">
            <h4 class="text-center text-light fs-3"><span class="text-danger fs-1">Vienna Advantage</span> there are three edition as follows:</h4>
        </div>
        <div class="d-flex flex-wrap me-5 pe-5">
            <div class="text-light fs-5 px-5 animate__animated animate__bounceInLeft">
                <h4 class="fw-bold">community Edition</h4>
                <p>Vienna Advantage Community Edition is a free edition, meant for developers, <br> technical companies, and small enterprises looking to deploy a basic set of features <br> for their companies. It is unsupported, however largely up-to-date with patches and <br> improvements. <br>
                    It gives you access to BRS Infotek Market It gives you access to BRS Infotek Market <br> from where you can enhance your community edition with a large number of free <br> and paid modules and features. Also,the community edition can be used to create <br> and deploy your own modules, third party integrations, etc</p>

            </div>
            <div class="ms-5 animate__animated animate__bounceInRight">
                <img src="../../../assets/service-image1.png" alt="Image Not Found" srcset="" height="350" width="350">

            </div>
        </div>
    
        <div class="d-flex flex-wrap me-5 py-5">
            <div class="ms-5 animate__animated animate__bounceInLeft">
                <img src="../../../assets/service-image2.png" alt="Image Not Found" srcset="" height="350" width="350">
            </div>
            <div class="text-light fs-5 px-5 animate__animated animate__bounceInRight">
                <h4 class="fw-bold">Professional Edition</h4>
                <p>Vienna Advantage Professional Edition is a sophisticated and fully supported edition <br> of Vienna Advantage ERP and CRM that is meant for medium to large-sized <br> companies who would like to rely on a serious and supported solution for productive use. <br>
                    Its comprehensive set of features, extensions, and partner modules grant access to <br> a large number of localizations, industry-specific templates, and easy to deploy <br> advanced features.Vienna Advantage Professional Edition comes with a paid <br> support subscription.
                </p>
            </div>
        </div>
        <div class="d-flex flex-wrap me-5 py-5">
            <div class="text-light fs-5 px-5 animate__animated animate__bounceInLeft">
                <h4 class="fw-bold">Enterprise Edition</h4>
                <p>Vienna Advantage Professional Edition is a sophisticated and fully supported edition <br> of Vienna Advantage ERP and CRM that is meant for medium to large-sized <br> companies who would like to rely on serious and supported solution for productive <br> use. <br>
                    Its comprehensive set of features, extensions, and partner modules grant access to <br> a large number of localizations, industry-specific templates, and easy to deploy <br> advanced features. Vienna AdvantageProfessional Edition comes with a paid <br> support subscription.
                </p>
            </div>
            <div class="ms-5 animate__animated animate__bounceInRight">
                <img src="../../../assets/service-image3.png" alt="Image Not Found" srcset="" height="350" width="350">

            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-wrap-reverse me-5 pe-5 mt-3">
        <div class="ms-5 animate__animated animate__bounceInLeft">
            <img src="../../../assets/service-image4.png" alt="Image Not Found" srcset="" height="300" width="350">
        </div>
        <div class=" fs-5 px-5 animate__animated animate__bounceInRight">
                <h4 class="text-center fs-3"><span class="text-danger fs-1">Vienna Advantage</span> good fit for your organization if:</h4>
            <div>
                <ul>
                    <li><h5>You own your data and are unwilling to pass off the responsibility for it.</h5></li>
                    <li><h5>You need something special. There are many solutions for basic ERP <br> systems out there that try to fit every company into the same box of <br> Inventory, sales, etc.. If that is all you need, BRS Infotek is an adequate <br> choice. But if you need something special - a unique way of managin your <br> data - that is where BRS Infotek shines.</h5></li>
                    <li><h5>You have specialized business requirements that are costly to meet with <br> proprietary systems. BRS Infotek is amazingly flexible in meeting your <br> business process needs.</h5></li>
                </ul>
            </div>    
        </div>
</div>
<div class="pb-5">
    <ul>
        <li><h5> have specialized business requirements that are costly to meet with proprietary systems. BRS Infotek is amazingly flexible in <br> meeting your business process needs.</h5></li>
        <li><h5>Other vendors may not have the capability, will not want to support customization work as it can't be sold to others or will charge a <br> huge premium for the service but you have your own IT team then you can even extend the solution and put it on the the other hand, <br> there is dedicated team working behind which will work for you and charge the implementation cost.</h5></li>
        <li><h5>You have some software and system administration capability within your company or are happy to purchase this service. The more <br> you can take-on yourself, the better.</h5></li>
    </ul>
</div>

<div class="pb-5">
    <div class="img2" >
        <div id="carouselExampleIndicators" class="carousel slide"  data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            
            </div>
            
            <div class="carousel-inner" style="background-color: rgba(13, 27, 66,0.8);">
                <h2 class="ps-5 ms-5 pt-5 text-light">HOW <span class="text-danger">BRS INFOTEK</span> CAN HELP</h2>
              <div class="carousel-item active">
                <div class="position-absolute w-100 ms-5 ps-5 text-wrap px-5 pad">
                  <h3 class="text-wrap mt-4 text-light"><img src="../../../assets/service-image6.png" height="80" width="80" alt="" class="me-4" srcset=""> Procurement Planning
                    <br>
                        <h5 style="font-size: 19px;" class="pt-2 text-light">Assistance with the development of requirements, budgets and change management plans prior to procuring an <br>
                             ERP system.</h5>
                  </h3>
                </div>
                <img src="" class=" d-block w-100" alt="..." height="450" width="500">
              </div>

              <div class="carousel-item">
                <div class="position-absolute w-100 ms-5 ps-5 text-wrap px-5 pad">
                    <h3 class="text-wrap mt-4 text-light"><img src="../../../assets/service-img6.jpg" height="80" class="me-4" width="80" alt="" srcset=""> Risk Reduction
                      <br>
                          <h5 style="font-size: 19px;" class="pt-2 text-light">Assistance with the development of requirements, budgets and change management plan prior to procuring an <br>
                             ERP systemAdopting an ERP system is a major decision.We can help you make the decision to adopt BRS <br>
                              INFOTEK by reducing the risks involved through program of demonstration an development stages. These allow <br>
                               you to verify that the software meets your needs without sacrificing the cost and effort of full-blown implementation. <br>
                                The stages replace the single go/no-go decision of a traditional ERP procurement. At each stage, you decide if the <br>
                                 risk of proceeding is acceptable. If you decide the software is not a good fit, your losses will be limited</h5>
                    </h3>
                  </div>
                  <img src="" class=" d-block w-100" alt="..." height="450" width="500">
              </div>
              <div class="carousel-item">
                <div class="position-absolute w-100 ms-5 ps-5 text-wrap px-5 pad">
                    <h3 class="text-wrap mt-4 text-light"><img src="../../../assets/service-img4.jpg" height="80" class="me-4" width="80" alt="" srcset="">Proof of Concept:
                      <br>
                          <h5 style="font-size: 19px;" class="pt-2 text-light">Training and education support before, during and following the implementation.</h5>
                    </h3>
                  </div>
                  <img src="" class=" d-block w-100" alt="..." height="450" width="500">
              </div>
              <div class="carousel-item">
                <div class="position-absolute w-100 ms-5 ps-5 text-wrap px-5 pad">
                    <h3 class="text-wrap mt-4 text-light"><img src="../../../assets/service-img2.jpg" height="80" class="me-4" width="80" alt="" srcset="">Change Management
                      <br>
                          <h5 style="font-size: 19px;" class="pt-2 text-light">A company specific demonstration can be setup for a modest fee which will give you the vision to understand the <br>
                             softwareand it works for you as per your requirement.</h5>
                    </h3>
                  </div>
                  <img src="" class=" d-block w-100" alt="..." height="450" width="500">
              </div>
              <div class="carousel-item">
                <div class="position-absolute w-100 ms-5 ps-5 text-wrap px-5 pad">
                    <h3 class="text-wrap mt-4 text-light"><img src="../../../assets/service-img5.jpg" height="80" class="me-4" width="80" alt="" srcset=""> Implementation:
                      <br>
                          <h5 style="font-size: 19px;" class="pt-2 text-light">ment an instance of BRS Infotek for your company, either by hosting the service for you or implementing the <br>
                             software at your location. Implementation would include the transfer of existing data into the BRS Infotek database, <br>
                              customization of the software to meet your needs, development of any required documentation, testing and <br>
                               verification of the software and training on the specific software features.</h5>
                    </h3>
                  </div>
                  <img src="" class=" d-block w-100" alt="..." height="450" width="500">
              </div>
              <div class="carousel-item">
                <div class="position-absolute w-100 ms-5 ps-5 text-wrap px-5 pad">
                    <h3 class="text-wrap mt-4 text-light"><img src="../../../assets/service-img8.jpg" height="80" width="80" class="me-4" alt="" srcset=""> customization Support:
                      <br>
                          <h5 style="font-size: 19px;" class="pt-2 text-light">Development of customized modules or modifications to existing modules to support specific business <br>
                             functionality.</h5>
                    </h3>
                  </div>
                  <img src="" class=" d-block w-100" alt="..." height="450" width="500">
              </div>x
x`

              <div class="carousel-item">
                <div class="position-absolute w-100 ms-5 ps-5 text-wrap px-5 pad">
                    <h3 class="text-wrap mt-4 text-light"><img src="../../../assets/service-img5.jpg" height="80" class="me-4" width="80" alt="" srcset=""> On-going Administration and Support:
                      <br>
                          <h5 style="font-size: 19px;" class="pt-2 text-light">Following implementation, BRS Infotek can provide on-going administrative support to theimplementation such as <br>
                             database maintenance, disaster recovery and technical support for the application.</h5>
                    </h3>
                  </div>
                  <img src="" class=" d-block w-100" alt="..." height="450" width="500">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
</div>